<div class="jumbotron">
<h1>Examinatr</h1>
<p><strong>Examinatr</strong> is a tool for creating and managing exams.
It provides organizational tools, easy editing and creation of exams and questions,
supports markdown in the question body, balances points, and renders exam PDFs.</p>
<p><%= link_to "Sign up now!", register_path, class: 'btn btn-primary btn-large' %></p>
</div>
