<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Examinatr</a>
    </div>

    <div class="collapse navbar-collapse" id="primary-navbar">
      <ul class="nav navbar-nav">
          <li><a href="/exams">Exams</a></li>
      </ul>

      <form class="nav navbar-nav navbar-form navbar-right">
        <a href="/logout" class="btn btn-primary">Logout</a>
      </form>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
    {{outlet}}
    </div>
</div>
