<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            {{input type="text" class="new-exam" placeholder="New exam" value=name}}
            <button class="btn btn-primary btn-sm new-exam-button" {{action
            "createExam"}}>Add</button>
        </li>
        {{#each model as |exam|}}
            <li class="list-group-item">{{#link-to "exams.show" exam}}{{exam.name}}{{/link-to}}</li>
        {{/each}}
    </ul>
</div>
<div class="col-md-9">
{{outlet}}
</div>
