<h1>All Exams</h1>
<ul>
{{#each model as |exam|}}
<li>{{#link-to "exams.show" exam}}{{exam.name}}{{/link-to}}</li>
{{/each}}
</ul>
<hr>
<button class="btn btn-primary btn-block">Add Exam</button>
{{#bs-modal open=openNewExam title="Add Exam" body=false footer=false}}
    {{#bs-modal-body}}
        {{#bs-form model=this}}
            {{bs-form-element controlType="text" label="Exam name"
            property="name"}}
        {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Create Exam"}}
{{/bs-modal}}
