<div class="col-md-6">
    <h1>New Question</h1>
    {{#em-form model=model action="createQuestion"}}
        {{em-input property="points" label="Points" placeholder="5"}}
        {{em-text property="text" label="Text" placeholder="Question text"}}
        {{em-text property="answer" label="Answer" placeholder="Answer text"}}
    {{/em-form}}
</div>
