<div class="col-md-3">
<h1>Question {{model.number}}</h1>
{{#em-form model=model action="updateQuestion"}}
    {{em-input property="points" label="Points" placeholder="5"}}
    {{em-text property="text" label="Text" placeholder="Question text"}}
    {{em-text property="answer" label="Answer" placeholder="Answer text"}}
{{/em-form}}
</div>
