<div class="col-md-6">
<h1>Question {{model.number}}</h1>
{{question-form submitAction='updateQuestion' deleteAction='deleteQuestion'
moveUpAction='moveUp' moveDownAction='moveDown' question=model newQuestion=false}}
</div>
